# logs
*.pcap
*.log
journal.7z

# python
*.pyc

# confs
ev*.conf

# certificates
*.pem
*.der
*.key
*.crt
*.csr
*.p12
index.txt*
passwords.mk
serial
serial.old

# graphs
*.png
*.csv
*.pdf

# pycharm
.idea
